// logo
.logo {
	display: block;
	font-size: 1.5rem;
	font-weight: 800;
	border: none;
	color: #000;
	font-family: merriweather;
	&:hover {
		text-decoration: none;
	}
	margin: .5rem auto .75rem auto;
}
.top-nav-desktop {
	margin: 1rem auto 0rem auto;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	.top-nav-inner-wrapper {
		text-align: center;
		width: 100%;
	}
	ul {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		li {
			display: inline-block;
			margin: 0 .5rem 0 0;
			a {
				font-weight: 600;
				font-size: .875rem;
				background: #f5f7fb;
				padding: .5rem 1rem;
				border-radius: 10px;
				border: none;
				transition: all 0.1s ease-out 0s;
				&.current {
					color: #ebeff7;
				}
				&:hover {
					filter: brightness(0.99);
					color: #000;
				}
			}
			&:last-of-type {
				margin: 0;
			}
		}
	}
}
.header {
	display: block;
}
