<nav class="top-nav-desktop">
	<div class="top-nav-inner-wrapper">
	<ul class="nav">
		<li>
			<a href="{{ site.url }}" {% if page.url == '' %}class="current"{% endif %}>About</a>
		</li>
		<li>
			<a href="{{ site.url }}/highlights" {% if page.url == '/highlights' %}class="current"{% endif %}>Work</a>
		</li>
		<li>
			<a href="{{ site.url }}/leadership" {% if page.url == '/leadership' %}class="current"{% endif %}>Leadership</a>
		</li>
		<li>
			<a href="{{ site.url }}/goals" {% if page.url == '/goals' %}class="current"{% endif %}>Goals</a>
		</li>
	</ul>
</div>
</nav>