<nav class="top-nav-desktop">
	<a href="{{ site.url }}" class="logo">Taylor McKnight</a>
	<ul class="nav">
		<li>
			<a href="{{ site.url }}/highlights" {% if page.url == '/highlights' %}class="current"{% endif %}>Work</a>
		</li>
		<li>
			<a href="{{ site.url }}/leadership" {% if page.url == '/leadership' %}class="current"{% endif %}>Leadership</a>
		</li>
		<li>
			<a href="{{ site.url }}/goals" {% if page.url == '/goals' %}class="current"{% endif %}>Goals</a>
		</li>
		<li>
			<a href="{{ site.url }}/about" {% if page.url == '/about' %}class="current"{% endif %}>About</a>
		</li>
	</ul>
<div id="myNav" class="overlay">
		<!-- Button to close the overlay navigation -->
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<!-- Overlay content -->
		<div class="overlay-content">
			<a href="{{ site.url }}/highlights">Work</a>
			<a href="{{ site.url }}/leadership">Leadership</a>
			<a href="{{ site.url }}/goals">Goals</a>
			<a href="{{ site.url }}/about">About</a>
		</div>
	</div>
	<span onclick="openNav()" class="mobile-menu-btn logo">&#9776;</span>
</nav>